body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* Fondo de color blanco */
    color: #000; /* Cambiar el color de las letras a negro */
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1, h2 {
    color: #000; /* Cambiar el color de las letras a negro */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button, textarea {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

a {
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

#puntos, #tiempo {
    margin-top: 20px;
    font-size: 18px;
    color: #000; /* Cambiar el color de las letras a negro */
}

.boton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.boton:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.pistas {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pistas h3 {
    margin: 0;
    color: #000; /* Cambiar el color de las letras a negro */
}

.pistas p {
    margin: 5px 0;
    color: #000; /* Cambiar el color de las letras a negro */
}

.door {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.door:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}